<div class="login-container">
    <p-card header="Olvide mi contraseña" styleClass="card-login">
        <div class="p-fluid">
            <div class="p-field">
                <label for="username">Correo Electrónico</label>
                <input id="username" type="text" pInputText
                    [(ngModel)]="email"
                    placeholder="Ingrese el correo registrado en el sistema">
            </div>
            <div class="p-field" style="margin-top: 10px;">
                <button pButton type="button" label="Enviar"
                    icon="pi pi-sign-in" (click)="forgotPassword()"></button>
            </div>
        </div>
    </p-card>
</div>