<div class="login-container">
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="card-lostpass">
        <div class="icon-wrapper">
            <i class="pi pi-history"></i>
        </div>
        <div class="p-fluid">
            <div class="p-field">
                <label for="username">Correo Electrónico</label>
                <input id="username" type="text" pInputText
                    [(ngModel)]="email"
                    placeholder="Ingrese el correo registrado en el sistema">
            </div>
            <div class="p-field" style="margin-top: 10px;">
                <button pButton type="button" label="Enviar"
                    icon="pi pi-key" (click)="forgotPassword()"
                    class="login-button"></button>
            </div>
        </div>
    </div>
</div>