<div class="login-container">
    <p-card header="Cambiar contraseña" styleClass="card-login">
        <div class="p-fluid">
            <div class="p-field">
                <label for="newPassword">Nueva Contraseña</label>
                <input id="newPassword" type="text" pInputText
                    [(ngModel)]="newPassword"
                    placeholder="Ingrese su nueva contraseña">
            </div>
            <div class="p-field">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <input id="confirmPassword" type="password" pInputText
                    [(ngModel)]="confirmPassword"
                    placeholder="Confirme su nueva contraseña">
            </div>
            <div class="p-field" style="margin-top: 10px;">
                <button pButton type="button"
                    label="Confirmar cambio de contraseña"
                    icon="pi pi-sign-in" (click)="changePassword()"></button>
            </div>
        </div>
    </p-card>
</div>
