<div class="login-container">
    <div class="background"></div>
    <div class="overlay"></div>
    <div class="card-chgpass">
        <div class="icon-wrapper">
            <i class="pi pi-history"></i>
        </div>
        <div class="p-fluid">
            <div class="p-field">
                <label for="newPassword">Confirmar Contraseña</label>
                <div class="password-wrapper">
                    <input id="newPassword" type="{{ showPassword ? 'text' : 'password' }}" 
                        pInputText [(ngModel)]="newPassword" placeholder="Confirme su nueva contraseña">
                    <span class="eye-icon" (click)="togglePasswordVisibility()">
                        <i [ngClass]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
                    </span>
                </div>
            </div>
            <div class="p-field">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <div class="password-wrapper">
                    <input id="confirmPassword" type="{{ showPassword ? 'text' : 'password' }}" 
                        pInputText [(ngModel)]="confirmPassword" placeholder="Confirme su nueva contraseña">
                    <span class="eye-icon" (click)="togglePasswordVisibility()">
                        <i [ngClass]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
                    </span>
                </div>
            </div>
            <div class="p-field" style="margin-top: 10px;">
                <button pButton type="button"
                    label="Confirmar cambio de contraseña"
                    icon="pi pi-sign-in" (click)="changePassword()"
                    class="login-button"></button>
                    
            </div>
        </div>
    </div>
</div>
