// Variables para colores personalizados
$sidebar-bg-color: #1e1e1e; // Cambia este color según tus necesidades
$sidebar-active-color: #6b0404; // Color para el ítem activo
$icon-color: #e80202; // Color de los iconos
$link-color: #ffffff; // Cambiado a blanco para contraste
$background-color: #181818; // Fondo oscuro para toda la pantalla

body {
  background-color: $background-color; // Fondo oscuro de la página
  color: #ffffff; // Texto claro
  margin-left: 4.5rem; // Deja espacio para la sidebar
}

.sidebar {
  position: fixed; // Fija la sidebar en la pantalla
  top: 0; // Alinea al borde superior
  left: 0; // Alinea al borde izquierdo
  height: 100vh; // Altura de la ventana
  width: 4.5rem; // Ancho de la sidebar
  overflow: visible;
  background-color: $sidebar-bg-color !important;

  .nav-link {
    color: $link-color;

    &.active {
      background-color: $sidebar-active-color;
      color: $icon-color;
    }

    &:hover {
      color: $icon-color;
    }
  }

  .pi {
    color: $icon-color;
  }

  .bi {
    color: $icon-color;
  }

  .dropdown {
    border-top: 1px solid lighten($sidebar-bg-color, 10%);
    
  }
  .dropdown-menu {
    min-width: 200px; /* Aumenta el ancho si es necesario */
    overflow: visible; /* Asegúrate de que no se recorte */
}

  
  .background {
    position: fixed; // Cambiado a fixed para ocupar toda la pantalla
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    z-index: 0;
  }
}

.p-field {
    margin-bottom: 1rem; /* Espaciado inferior para cada campo */
}

.p-dropdown {
    border-radius: 0.25rem; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.p-text-bold {
    font-weight: bold; /* Negrita para el título */
    font-size: 1.1em; /* Tamaño de fuente ligeramente más grande */
}

.p-text-muted {
    color: #6c757d; /* Color gris para el texto secundario */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
}
