<div class="background"></div> <!-- Fondo de la sidebar -->
<div class="sidebar d-flex flex-column flex-shrink-0">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="/pages/home" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" title="Inicio" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-hospital-fill" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/dating" class="nav-link py-3 border-bottom rounded-0" title="Crear Cita" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-calendar-plus" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/appointment" class="nav-link py-3 border-bottom rounded-0" title="Consultas" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-file-earmark-medical-fill" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/medicine" class="nav-link py-3 border-bottom rounded-0" title="Medicamentos" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-capsule-pill" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/prescription" class="nav-link py-3 border-bottom rounded-0" title="Recetas Medicas" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-file-medical" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/doctors"class="nav-link py-3 border-bottom rounded-0"  title="Medicos" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-heart-pulse-fill" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/px" class="nav-link py-3 border-bottom rounded-0" title="Pacientes" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-people-fill" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/unit" class="nav-link py-3 border-bottom rounded-0" title="Unidad de Medidad" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-eyedropper" style="font-size: 1.5rem;"></i>
      </a>
    </li>
    <li>
      <a href="/pages/users" class="nav-link py-3 border-bottom rounded-0" title="Usuarios" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-person-lines-fill" style="font-size: 1.5rem;"></i>
      </a>
    </li>
  </ul>
  <div class="dropdown border-top mt-auto">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>