.p-field {
    margin-bottom: 1rem; /* Espaciado inferior para cada campo */
}

.p-dropdown {
    border-radius: 0.25rem; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.p-text-bold {
    font-weight: bold; /* Negrita para el título */
    font-size: 1.1em; /* Tamaño de fuente ligeramente más grande */
}

.p-text-muted {
    color: #6c757d; /* Color gris para el texto secundario */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
}
